@import url('./components/InstructionModal/instructionModal.css');
body {
  background-color: #15133C;
  color: var(--color-tertiary);
}

.type-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
  text-align: center;
}

.alphabet-output {
  background-color: var(--color-tertiary);
  color: var(--color-success);
  font-weight: 700;
  font-size: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12rem;
  width: 100%;
  border-radius: var(--border-radius-3);
}

.type-timer > *:first-child{
  margin-bottom: 1rem;
}

.type-container .input-grp {
  display: flex;
}

.type-container .input-grp > input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: var(--color-tertiary);
  box-shadow: none;
  border: none;
}

.type-container .input-grp > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}